{% extends "base.html" %}
{% load static %}

{% block title %}Каталог курсов - DevLearn{% endblock title %}

{% block content %}
    {% comment %} <img src="media/vk_logo_icon_147212.png" alt="VK"> {% endcomment %}
    <div class="course-container">
        {% for course in courses %}
            <div class="course-item" onClick="location.href='{% url "courses:course_detail" course.slug %}'">
                {% if course.preview %}
                    <img src="{{ course.preview.url }}" alt="{{ course.title }}" class="course-preview">
                {% endif %}
                <h3 class="course-title">{{ course.title }}</h3>
                <p class="course-overview">{{ course.owner|truncatewords:20 }}</p>
                <div class="course-info">
                    {% if course.price == 0 %}
                        <div>Бесплатно</div>
                    {% else %}
                        <div>{{ course.price }}₽</div>
                    {% endif %}
                    {% if course.rating == None %}
                        <div>0.0⭐</div>
                    {% else %}
                        <div>{{ course.rating }}⭐</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if courses.has_other_pages %}
      <ul class="pagination">
        {% if courses.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ courses.previous_page_number }}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}        
          <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
          </li>
        {% endif %}
        {% for i in courses.paginator.page_range %}
          {% if courses.number == i %}
            <li class="page-item"><a class="page-link disabled" href="?page=1">{{ i }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if courses.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ courses.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
      </ul>
    {% endif %}
{% endblock content %}
