{% extends "base.html" %}
{% load static %}

{% block title %}Мои курсы. DevLearn{% endblock title %}

{% block content %}
    <div class="course-container">
        {% for course in user.courses.all %}
            <div class="course-item" onClick="location.href='{% url "courses:course_detail" course.slug %}'">
                {% if course.preview %}
                    <img src="{{ course.preview.url }}" alt="{{ course.title }}" class="course-preview">
                {% endif %}
                <h3 class="course-title">{{ course.title }}</h3>
                <p class="course-overview">{{ course.owner|truncatewords:20 }}</p>
                <div class="course-info">
                    {% if course.price == 0 %}
                        <div>Бесплатно</div>
                    {% else %}
                        <div>{{ course.price }}₽</div>
                    {% endif %}
                    {% if course.rating == None %}
                        <div>0.0⭐</div>
                    {% else %}
                        <div>{{ course.rating }}⭐</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
{% endblock content %}