{% extends "base.html" %}

{% block title %}Войти в DevLearn{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center" style="height: 100vh;">
    <div class="login-container" style="max-height: 345px;">
        <h2 class="text-center mb-4">Войти в DevLearn</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
        <p class="text-center mt-3">
            <a href="{% url 'account:password_reset' %}">Забыли пароль?</a>
        </p>
        <p class="text-center mt-3">
            Нет аккаунта? <a href="{% url 'account:register' %}">Зарегистрируйтесь</a>
        </p>
        {% if form.errors %}
            <div class="error">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

<style>
</style>
